li{
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
	font-style: BPGNinoMtavruli-Bold;
	color: #3D58A6;
	margin: 30px 39px 72px 0px;
	
}
nav{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	display: inline-block;
	vertical-align:top;
	width: 100.18px;
	height: 30.57px;
	margin: 30px 30px 49.81px 35px;
}
.banner{
	width: 1170px;
	height: 460px;
	margin-left: 98px;
	margin-bottom: 116px;
}
h3{
	font-size: 24px;
	font-style: Roboto-Regular;
	color: #000000;
	margin-left: 98px;
	margin-bottom: 31px;
}
.container{
	width: 1193px;
	margin:auto ;
}
.left, .right {
	width: 570px;
	height: 225px;
	background-color:#F2F2F2;
	display: inline-block;
	vertical-align:middle;
	margin-bottom:137px;
}
.left {
	margin-left:28px;
	margin-right:20px;

	
}
h4{
	width: 274px;
	height: 27px;
	font-size: 22px;
	font-style:Roboto-Regular;
	color:#3D58A6;
	margin:15px 100px 1px 50px;
	
}
.finger{
	display: inline-block;
	vertical-align: middle;
	width:100px;
	height:125.5px;
	margin:15px 41px 41.73px 38.78px
}
.p{
	display: inline-block;
	vertical-align:middle;
	font-style: Roboto-Regular;
	font-size: 20px;
	text-align: left;
	letter-spacing: 0.5px;
	width:355px;
	height:143.29px;
}
.fb{
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 30px;
	margin: 20px 31px 38.71px 59.71px ;
}
.yt{
	display: inline-block;
	vertical-align: middle;
	width:24.81px ;
	height:30px;
	margin:20px 1100px 38.71px 29px ;
}
.debilo{
	display: inline-block;
	vertical-align:middle;
	width:1px;
	height:26.67px;
	background-color: #363E97;
	margin: 20px 5px 38.71px 0px;

}
.container1{
	position: relative;
	width: 1170px;
}

.text {
	position: absolute;
	top: 36px;
	bottom: 252px;
	left: 136.39px;
	width: 398px;
	height:178px;
	font-size: 30px;
	font-style:roboto-bold;
	color: #E6E6E6;
}
.b27{
	width: 56px;
	height: 56px;
	background-color: #3D58A6;
	font-size: 37px;
	font-style: BPGNinoMtavruli;
	text-align: center;
	color: #FFFFFF;
	margin-left: 34.05px;

}
.may{
	font-size: 22px;
	font-style: BPGNinoMtavruli;
	color: #3D58A6;
	margin:8px 0px 32px 34.05px;
}
.lorem {
	font-size:20px;
	font-style: BPGNinoMtavruli;
	color:#000000;
	margin-left:34.05px;
	margin-bottom:22px;
}
.code{
	display:inline-block;
	vertical-align:top;
	width: 270px;
	height: 210px;
	margin-left: 30px;
	margin-right:38px;
}
.div1{
	display: inline-block;
	vertical-align:top;
	font-style: BPGIngiriArial;
	font-size: 16px;
	width: 920.02px;
	height: 360px;
	color: #000000;
	text-align: left;
	letter-spacing:0px;
}
.map{
	display: inline-block;
	vertical-align: middle;
	width: 1366px;
	height: 570px;
	background-color: #E6E6E6;
	border: none;
	position: relative;
	margin-bottom: 40px;
}
.gmap{
	position: absolute;
	display: inline-block;
	vertical-align: top;
	width: 848.5px;
	height: 464.5px;
	margin-top: 45px;
	overflow: hidden;
	background: none;
}
.span1{
	color: #3D58A6;
	font-size: 20px;
	font-style: BPGNinoMtavruli-Bold;
	}
.contact{
	display: inline-block;
	vertical-align: top;
	height: 88px;
	width: 261px;
	font-size: 16px;
	font-style: BPGIngiriArial;
	color: #000000;
	border-style: hidden;
	margin: 60px 64px 407px 90px;
	line-height: 24px;
	}
.red{
	color: #EE4036;
	font-size: 22px;
	font-style: BPGNinoMtavruli-Bold;
}
